*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    border: 3px solid blue;
    width: 246px;
    /* display: grid; */
    /* grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(20, 20px); */
    position: relative;
}

.grid-row {
    display: flex;
}

.grid-square {
    background-color: black;
    border: 1px outset white;
    width: 20px;
    height: 20px;
}

.occupied-grid-square {
    width: 20px;
    height: 20px;
}

.shape {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(4, 20px);
    z-index: 5;
}

.filled {
    border: 1px outset white;
}

.i .filled,
.i.filled {
    background-color: red;
}

.o .filled,
.o.filled {
    background-color: pink;
}

.z .filled,
.z.filled {
    background-color: orange;
}

.l .filled,
.l.filled {
    background-color: purple;
}

.t .filled,
.t.filled {
    background-color: yellow;
}

.j .filled,
.j.filled {
    background-color: green;
}

.s .filled,
.s.filled {
    background-color: skyblue;
}

#scoreboard {
    margin-left: 30px;
}
