html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(20, 20px);
    position: relative;
}

.grid-square {
    background-color: black;
    border: 1px outset white;
}

.shape {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(4, 20px);
    z-index: 5;
}

.filled {
    border: 1px outset white;
}

.i .filled {
    background-color: red;
}

.o .filled {
    background-color: pink;
}

.z .filled {
    background-color: orange;
}

.l .filled {
    background-color: purple;
}

.t .filled {
    background-color: yellow;
}
