html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(20, 20px);
    position: relative;
}

.square {
    background-color: black;
    border: 1px outset white;
}

.shape {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(2, 20px);
    z-index: 5;
}

.i .square {
    background-color: red;
}

.o .square {
    background-color: pink;
}

.o .square:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.z .square {
    background-color: orange;
}

.z .square:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.l .square {
    background-color: purple;
}

.l .square:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.t .square {
    background-color: yellow;
}

.t .square:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
}